*{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: black;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    

}
.photo{
    width: 100px;
    height: 20px;
}
.space{
    padding: 7px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
}
.space:hover{
    background-color: rgb(59, 223, 168);
    color: black;
}
.menus{
    display: flex;
    font-size: 14px;
    font-weight: bold;
}
.body-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/background.png"), linear-gradient(45deg,#000, #272525);
    color: white;
}
.pho{
    height: 300px;
}
.bolt{
    font-size: 60px;
    margin: 10px;
}
.para{
    font-size: 18px;
    margin: 10px;
}
.but{
    padding: 15px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
.grey{
    border: none;
    border-top: 1px solid grey;
}